/* TODO:
  全体的インデント修正
  共通化できるcssは一つのクラスにまとめる。text-align、float、色とか
  fontをレポジトリに追加する
*/

/*インデント修正*/
body {
  /*この下のフォント読み込めてないよ。fontもimageの様に同じフォルダに入れておく必要がある。*/
     font-family: "Tsukushi A round gothic", "santyoume-font";
     /*背景指定しようとしてる？ →消し忘れました・・・*/
      }

header {
    background-color: #E7E7DB;
    border: 1px solid #E7E7DB;
    width: 100%;
    /*background-colorが2回指定されている*/
    height:60px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header {
  /*ヘッダーにwidthは付けほうがいいよ。*/
  /*width: 1170px;*/
    margin: 0 auto;
}

.header a {
   text-decoration: none;
}

.header-left {
   float: left;
  /*このmarginは要らないんじゃないかな？*/
  /*margin: 0 auto;*/
}

.header-right {
  float:right;
}

.header-right li {
  float: left;
  color: #4EB4CB;
  font-size: 20px;
  padding-left: 20px;
  margin-right: 30px;
}

.header-right li:hover {
  color: #2D94FB;
}

.container{
  width: 1170px;
  margin:0 auto;
  padding: 0 15px;
}
/*ここからtop*/
.top-wrapper {
  /* このwidthとmarginとpaddingはcontainerというクラスでまとめた方がいいかも。ProgateのHTML上級とか参考に。*/
  /*width: 1170px;
  margin:0 auto;
  padding: 0 15px;*/
  text-align: center;
  /* 画面全体にこの背景適用した方がいいと思うのだけど、どう？*/
  background-color: #C1DCC6;
}

.top-image {
  margin: 0 auto;
  /*block要素にした理由ってある？なければこのコードなくてもいいと思う。img要素は元からinline-blockだからそんなに見た目かわらない。*/
  /*display: block;*/
}

.top-bottom {
  margin-right: 30px;
  padding-bottom: 100px;
}

/*profileはじまり*/
#profile-wrapper {
  /* このwidth, margin, paddingは何度も使ってるからcontainerという共通のクラスでまとめる*/
  /*width: 1170px;*/
  height: 500px ;
  /*margin:0 auto;
  padding: 0 15px;*/
  /*この背景色もなんどもつかってるから、共通のクラスつくっちゃお。たとえば「.light-green」というクラスにして、そこに背景色指定しておく。*/
  background-color: #C1DCC6;
}

.profile-sizuku {
  margin-left: 30px;
  width: 300px;
  height: 500px;
  float: left;
  display: inline-block;
}

/*縦横比崩れてるから、元画像正方形にしたほうがいいね。*/
.profile-photo {
  width: 150px;
  height: 150px;
  border-radius:50%;
  display: inline-block;
  margin-left: 50px;
  margin-top: 100px;
}

.profile-right {
  display: inline-block;
  float: right;
  margin-right: 50px;
}

.profile-right .title {
  font-size: 40px;
  margin:0;
  text-align: right;
}

.title-name {
  text-align: left;
  font-size: 30px;
  margin: 0px;
}

/*.profile-box{
  width: 150px;
  height: 150px;
}*/

/*skills*/

#skill-wrapper {
  /* containerクラスにまとめる */
  /*width: 1170px;
  height:400px ;
  margin:0 auto;
  padding: 0 15px;*/
  background-color: #F1EDED;
}

.skill-text {
  display: inline-block;
  float: right;
}

.bus {
  margin-left: 40px;
}

.box {
  border: 1px solid white;
  display: inline-block;
  float: right;
  height: 300px;
  width: 200px;
  background-color: white;
  margin-right: 10px;
}

/*.box li {
  text-align: center;
}*/
.skill-text li{
  display: inline-block;
}

.skill-text p{
  text-align: center;
}
.skills-icon {
  margin: 10px 0;
  width: 100px;
  height: 100px;
  margin-left: 48px;
}

#big-title {
  font-size: 40px;
  margin:0;
  text-align: right;
  margin-right: 50px;
  color: #2F967D;
}

/*works*/
#works-wrapper {
  /*width: 1170px;*/
  height:600px ;
  /*margin:0 auto;
  padding: 0 15px;*/
  background-color: #F1EDED;
}

.works-title {
  display: inline-block;
  float: right;
}


.works-title ul {
  float: right;
  display: inline-block;
}

.works-title .box {
  margin-left: 20px;
  width:300px;
  height: 400px;
}

.works-big-title {
  font-size: 20px;
  text-align: center;
}

.works-left {
  padding-top: 10px;
  display: inline-block;
}

.go-img{
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.works-left li{
  display: inline-block;
  margin-left: 40px;
}

.works-left p{
  font-size:15px;
  width: 280px;
}

.works-right{
  display: inline-block;
  float: right;
}

.works-right li{
  display: inline-block;
  margin-right: 60px;
}

.works-right img{
  margin: 0 auto;
}

.works-right .box{
    border: 1px solid white;
    display: inline-block;
    float: right;
    height: 430px;
    width: 300px;
    background-color: white;
    margin-right: 10px;
}

.card{
 width: 200px;
 height: auto;
}
/*contact*/
#contact-wrapper {
  /*width: 1170px;*/
  height: 500px ;
  /*margin:0 auto;
  padding: 0 15px;*/
  background-color: #C1DCC6;
}

.contact-box {
  border: 1px solid white;
  height: 400px;
  width: 800px;
  margin: 0 auto;
  background-color:  white;
  border-radius: 20%;
}

.button {
  border-radius: 50%;
  background-color:#ca3356;
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 200px;
  font-size: 2rem;
}

/* i要素に全部指定しないほうがいい。「.contact-wrapper i」とかにしよう*/
.contact-wrapper i {
 font-size: 1rem;
 text-align: center;
 color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
 font-size: 2rem;
}

/*footer*/
.footer-wrapper {
  width: 1170px;
  margin:0 auto;
  /*padding: 0 15px;*/
  background-color: #ca3356;
}

.footer-left{
  text-align: left;
  color: white;
}
